*{
    margin: 0;
}
.cont{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "head head head"
    "left main main"
    ;
}
.head{
    background-color: black;
    color:white;
    grid-area:head;
    font-size: 30px;
}
.left{
    background-color: gray;
    color:royalblue;
    grid-area:left;
    font-size:30px;
    
}
.main{
    background-color:#2e2e2e;
    color:white;
    grid-area:main;
    font-size: 20px;
}
a:focus {
    color: purple;
  }
a:hover {
    color: red;
}
a:visited {
    color: lime;
  }
.left::first-letter{
    color:rgb(255, 0, 128);
}
.main:hover{
    color:yellowgreen;
}
h1::first-letter{
    font-size: 80px;
}